@model BlogPostVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 style="color:cornflowerblue">Update Blog</h3>
                <form method="post">
                    @*default orarag get dir*@
                    <div class="mb-3 row">
                        <img style="width:200px;" src="@Model.ImagePath" />
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="ImagePath" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="ImagePath" />
                            <span class="text-danger" asp-validation-for="ImagePath"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="PostedBy" class=" col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="PostedBy" />
                            <span class="text-danger" asp-validation-for="PostedBy"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="PostTime" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="PostTime" />
                            <span class="text-danger" asp-validation-for="PostTime"></span>
                        </div>

                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Comment" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Comment" />
                            <span class="text-danger" asp-validation-for="Comment"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="CommentCount" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="CommentCount" />
                            <span class="text-danger" asp-validation-for="CommentCount"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Select Blog Catagory</label>
                        <div class="col-md-10">
                            <select asp-for="BlogCatagoryId" class="form-select" name="blogCatagoryId">
                                @foreach (var catagory in ViewBag.Catagories)
                                {
                                    <option asp-for="CommentCount" value="@catagory.Id">@catagory.Catagory</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" asp-action="Update" class="btn btn-primary  ">Update</button>
                    </div>
                </form>
                        <a asp-area="Admin" asp-controller="blog" asp-action="Index" class="btn btn-light ">Return</a>

            </div>
        </div>
    </div> <!-- end col -->
</div>

