@model BlogVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 style="color:cornflowerblue">Update Blog</h3>
                <form method="post" enctype="multipart/form-data">
                    @*default orarag get dir*@
                    <div class="mb-3 row">
                        <img style="width:200px;" src="@Model.Image" />
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Image" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Image" />
                            <span class="text-danger" asp-validation-for="Image"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="PostedBy" class=" col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="PostedBy" />
                            <span class="text-danger" asp-validation-for="PostedBy"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Comment" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            @*   <input class="form-control" asp-for="Comment" />*@
                            <textarea asp-for="Comment" id="tiny" name="Comment"></textarea>
                            <span class="text-danger" asp-validation-for="Comment"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Title" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Title" />
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Select Blog Category</label>
                        <div class="col-md-10">
                            <select class="form-select" name="CatagoryId">
                                <option value="@Model.BlogCatagoryId"></option> <!-- Added empty option -->
                                @foreach (var catagory in ViewBag.Catagories)
                                {
                                    <option value="@catagory.Id">@catagory.Catagory</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <button type="submit" asp-action="Update" class="btn btn-primary  ">Update</button>
                    </div>
                </form>
                        <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="btn btn-light ">Return</a>

            </div>
        </div>
    </div> <!-- end col -->
</div>

