@model CreateCourseViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 style="color:cornflowerblue">Create Course</h3>
                <form method="post" enctype="multipart/form-data" class="needs-validation">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var key in ViewData.ModelState.Keys)
                                {
                                    foreach (var error in ViewData.ModelState[key].Errors)
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    @*default orarag get dir*@
                    <div class="mb-3 row" >
                        <label asp-for="Image" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Image" />
                            <span class="text-danger" asp-validation-for="Image"></span>
                        </div>
                    </div> 
                    <div class="mb-3 row" >
                        <label asp-for="StudentsCount" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="StudentsCount" />
                            <span class="text-danger" asp-validation-for="StudentsCount"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Title" class=" col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Title" />
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Description" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Description" />
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>

                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Starts" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Starts" />
                            <span class="text-danger" asp-validation-for="Starts"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="CourseDescription" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <textarea id="tiny" class="form-control" asp-for="CourseDescription" ></textarea> 
                            <span class="text-danger" asp-validation-for="CourseDescription"></span>
                        </div>
                    </div> 
                    <div class="mb-3 row">
                        <label asp-for="ClassDuration" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="ClassDuration" />
                            <span class="text-danger" asp-validation-for="ClassDuration"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Duration" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Duration" />
                            <span class="text-danger" asp-validation-for="Duration"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="SkillLevels" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="SkillLevels" />
                            <span class="text-danger" asp-validation-for="SkillLevels"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Languages" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Languages" />
                            <span class="text-danger" asp-validation-for="Languages"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Assesments" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Assesments" />
                            <span class="text-danger" asp-validation-for="Assesments"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="CourseFee" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="CourseFee" />
                            <span class="text-danger" asp-validation-for="CourseFee"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Select Course Catagory</label>
                        <div class="col-md-10">
                            <select class="form-select" name="CatagoryId">
                                @foreach (var catagory in ViewBag.Catagories)
                                {
                                    <option value="@catagory.Id">@catagory.Catagory</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary ">Submit</button>
                        <a asp-area="Admin" asp-controller="Course" asp-action="Index" class="btn btn-light ">Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<partial name="_ValudationScript" />