@using HomeEdu.UI.ViewModels.AuthViewModels;
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_SeccondLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="login">
                <div class="login-form-container" style="transform: translate(50%);">
                    <div class="login-text">
                        <h2>Now let's find your EduHome Account</h2>
                        <span>What is your email address?.</span>
                    </div>
                    <div class="login-form">
                        <form class="needs-validation" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label asp-for="Email"></label> <br />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <input asp-for="Email" />

                            <div class="button-box">
                                <button type="submit" class="default-btn">Send Request</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_ValudationScript" />
}