@using HomeEdu.UI.ViewModels.AuthViewModels;
@model RegisterVM;
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_SeccondLayout.cshtml";
}
<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from htmldemo.net/tm/eduhome/eduhome/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jun 2023 06:56:44 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eduhome - Educational HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/et-line-icon.css">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container" style="transform: translate(50%);">
                        <div class="login-text">
                            <h2>Register</h2>
                            <span>Please Register filling bellow.</span>
                        </div>
                        <div class="login-form">
                            <form class="needs-validation" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger.
"></div>
                                <label asp-for="UserName"></label> <br />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                                <input asp-for="UserName" />
                                
                                <label asp-for="Name"></label> <br />
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <input asp-for="Name" />

                                <label asp-for="LastName"></label> <br />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                                <input asp-for="LastName" /> 

                                <label asp-for="Email"></label> <br />
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Email" />

                                <label asp-for="Password"></label>  <br />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <input asp-for="Password" />

                                <label asp-for="ConfirmPassword"></label> <br />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <input asp-for="ConfirmPassword" />
                                    

                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <a style="color:#111" asp-action="Login">Do you already have accound?</a>
                                    </div>
                                    <button type="submit" class="default-btn">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>
    <script src="~/assets/js/ajax-mail.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

<!-- Mirrored from htmldemo.net/tm/eduhome/eduhome/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jun 2023 06:57:08 GMT -->
</html>
 <partial name="_ValudationScript" />
