@model Dictionary<string,string>
<header class="top">
    <div class="header-area header-sticky fixed">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="index.html"><img src="@Model["MainLogo"]" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="content-wrapper one">
                        <!-- Main Menu Start -->
                        <div class="main-menu one text-end">
                            <nav>
                                <ul>
                                    <li>
                                    <li><a asp-controller="About" asp-action="Index">About</a></li>
                                    <li>
                                        <a asp-controller="Courses" asp-action="Index">Course</a>

                                            @* <ul>B
                                        <li><a href="course.html">courses</a></li>
                                        you can able to add here some section
                                        <li><a href="course-details.html">courses details</a></li>
                                        </ul>
                                        </li>
                                        *@
                                    <li>
                                        <a asp-controller="events" asp-action="Index">Event</a>
                                    </li>
                                    <li class="hidden-sm">
                                        <a asp-controller="Teachers" asp-action="Index">Teachers</a>
                                                @*    <ul>
                                        <li><a href="teacher.html">teacher</a></li>
                                        <li><a href="teacher-details.html">teacher details</a></li>
                                        </ul>*@
                                    </li>
                                    <li>
                                        <a asp-controller="Blogs" asp-action="Index">Blog</a>
                                                @*  <li><a href="blog.html">blog</a></li>
                                        <ul>
                                        <li><a href="blog-left-side-bar.html">blog left sidebar</a></li>
                                        <li><a href="blog-right-side-bar.html">blog righ sidebar</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                        </ul>
                                        *@
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li>
                                        <a asp-controller="auth" asp-action="register">Register</a>
                                                @*  <li><a href="blog.html">blog</a></li>
                                        <ul>
                                        </ul>
                                        *@
                                    </li>
                                    <li>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                            <a style="color:white">@User.Identity.Name</a>
                                            <ul>
                                                <li>         <a asp-controller="Auth" asp-action="logout">Log out</a><i class="bx bx-exit"></i></li>
                                                <li>         <a asp-controller="Auth" asp-action="ForgotPassword">Reset Password</a><i class="bx bx-exit"></i></li>
                                            </ul>

                                                }
                                                else
                                                {
                                            <a asp-controller="auth" asp-action="login">Login</a>
                                                }
                                    </li>

                                    <li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu one"></div>
                        <!-- Main Menu End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>